<a href="https://colab.research.google.com/github/omarreess/DLI-Internship-Data-Science/blob/main/Assignment%2015%20Regression%20with%20Neural%20Network%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> <center> Regression with Neural Network

<h2> Importing

In [148]:
import numpy as np 
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler 
from sklearn.model_selection import train_test_split
from sklearn.metrics import  mean_squared_error, mean_absolute_error, r2_score , mean_absolute_percentage_error
from matplotlib import pyplot as plt 
import seaborn as sns 

from tensorflow.keras import Model
from tensorflow.keras import Sequential
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from tensorflow.keras.losses import MeanSquaredLogarithmicError
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_absolute_percentage_error

<h2> Importing Dataset

In [149]:
dataset = pd.read_csv('/content/50_Startups - 50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

<h2> Exploring Data

In [150]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            49 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

<h2> Check Empty Cells

In [151]:
dataset.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              1
Profit             0
dtype: int64

<h2> Handling Missing Data

As the empty cells ratio very small corresponding to rest of data

In [152]:

dataset.dropna(inplace=True )
dataset.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

<h2> Labeling Categorical Data

In [153]:

dataset['State']= LabelEncoder().fit_transform(dataset['State'],)
dataset.tail()

    R&D Spend  Administration  Marketing Spend  State    Profit
45    1000.23       124153.04          1903.93      2  64926.08
46    1315.46       115816.21        297114.46      1  49490.75
47       0.00       135426.92             0.00      0  42559.73
48     542.05        51743.15             0.00      2  35673.41
49       0.00       116983.80         45173.06      0  14681.40

<h3> Splitting The Dataset ( 75% Training , 25% Testing )

In [154]:
# Splitting  
features_cols = dataset.iloc[:,:-1].values
print(f' Data features : {dataset.columns[:-1].values}')

output_col = dataset.iloc[:,-1].values
print(f' Output data : {dataset.columns[-1]} \n ')



features_train, features_test, output_train, output_test = train_test_split (features_cols, output_col,
   test_size = 0.25,   
   random_state = 0,)


# Checking Data Ranges

print(f"Features its max : {features_train.max()} \n\nits min : {features_train.min()}" )

 Data features : ['R&D Spend' 'Administration' 'Marketing Spend' 'State']
 Output data : Profit

Features its max : 471784.1

its min : 0.0

<H2> Normalizing Data

In [155]:

normalizing_scaller =MinMaxScaler()  
normalizing_scaller.fit(features_train)
features_cols_train_normlized = normalizing_scaller.transform(features_train) 
features_cols_test_normlized = normalizing_scaller.transform(features_test) 

print(f"Normlized Features its max : \n{features_cols_train_normlized.max()} \n\nits min : \n{features_cols_train_normlized.min()}" )

Normlized Features its max :
1.0

its min :
0.0

<H2> Our Neural Network Model

In [156]:
# Model Layers

model = Sequential()

model.add(Dense(85, input_shape=(4,)))
model.add(Dense(80, activation="relu"))
model.add(Dense(80, activation="relu"))
model.add(Dense(80, activation="relu"))
model.add(Dense(80, activation="relu"))
model.add(Dense(40, activation="relu"))





model.add(Dense(1, activation="relu",name= 'Regression_Layer'))

model.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_49 (Dense)            (None, 85)                425

 dense_50 (Dense)            (None, 80)                6880

 dense_51 (Dense)            (None, 80)                6480

 dense_52 (Dense)            (None, 80)                6480

 dense_53 (Dense)            (None, 80)                6480

 dense_54 (Dense)            (None, 40)                3240

 Regression_Layer (Dense)    (None, 1)                 41

=================================================================
Total params: 30,026
Trainable params: 30,026
Non-trainable params: 0
_________________________________________________________________

In [157]:
# Model Metric & Optimizer

model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

In [158]:
# Trainning 

model.fit(features_train, output_train, batch_size=7, epochs=50, verbose=1)

Epoch 1/50
6/6 [==============================] - 1s 4ms/step - loss: 7860532736.0000 - accuracy: 0.0000e+00
Epoch 2/50
6/6 [==============================] - 0s 4ms/step - loss: 1147028864.0000 - accuracy: 0.0000e+00
Epoch 3/50
6/6 [==============================] - 0s 4ms/step - loss: 1347996160.0000 - accuracy: 0.0000e+00
Epoch 4/50
6/6 [==============================] - 0s 3ms/step - loss: 702983168.0000 - accuracy: 0.0000e+00
Epoch 5/50
6/6 [==============================] - 0s 4ms/step - loss: 430511552.0000 - accuracy: 0.0000e+00
Epoch 6/50
6/6 [==============================] - 0s 4ms/step - loss: 444020544.0000 - accuracy: 0.0000e+00
Epoch 7/50
6/6 [==============================] - 0s 3ms/step - loss: 254145216.0000 - accuracy: 0.0000e+00
Epoch 8/50
6/6 [==============================] - 0s 3ms/step - loss: 269886208.0000 - accuracy: 0.0000e+00
Epoch 9/50
6/6 [==============================] - 0s 3ms/step - loss: 248956240.0000 - accuracy: 0.0000e+00
Epoch 10/50
6/6 [==============================] - 0s 3ms/step - loss: 229961440.0000 - accuracy: 0.0000e+00
Epoch 11/50
6/6 [==============================] - 0s 3ms/step - loss: 203946224.0000 - accuracy: 0.0000e+00
Epoch 12/50
6/6 [==============================] - 0s 3ms/step - loss: 202306240.0000 - accuracy: 0.0000e+00
Epoch 13/50
6/6 [==============================] - 0s 4ms/step - loss: 201443120.0000 - accuracy: 0.0000e+00
Epoch 14/50
6/6 [==============================] - 0s 3ms/step - loss: 169274704.0000 - accuracy: 0.0000e+00
Epoch 15/50
6/6 [==============================] - 0s 4ms/step - loss: 177405520.0000 - accuracy: 0.0000e+00
Epoch 16/50
6/6 [==============================] - 0s 3ms/step - loss: 166842112.0000 - accuracy: 0.0000e+00
Epoch 17/50
6/6 [==============================] - 0s 3ms/step - loss: 164259744.0000 - accuracy: 0.0000e+00
Epoch 18/50
6/6 [==============================] - 0s 3ms/step - loss: 158638208.0000 - accuracy: 0.0000e+00
Epoch 19/50
6/6 [==============================] - 0s 4ms/step - loss: 164982048.0000 - accuracy: 0.0000e+00
Epoch 20/50
6/6 [==============================] - 0s 4ms/step - loss: 147692720.0000 - accuracy: 0.0000e+00
Epoch 21/50
6/6 [==============================] - 0s 3ms/step - loss: 152635344.0000 - accuracy: 0.0000e+00
Epoch 22/50
6/6 [==============================] - 0s 3ms/step - loss: 151984272.0000 - accuracy: 0.0000e+00
Epoch 23/50
6/6 [==============================] - 0s 4ms/step - loss: 167184656.0000 - accuracy: 0.0000e+00
Epoch 24/50
6/6 [==============================] - 0s 4ms/step - loss: 186847952.0000 - accuracy: 0.0000e+00
Epoch 25/50
6/6 [==============================] - 0s 3ms/step - loss: 163254416.0000 - accuracy: 0.0000e+00
Epoch 26/50
6/6 [==============================] - 0s 4ms/step - loss: 168021760.0000 - accuracy: 0.0000e+00
Epoch 27/50
6/6 [==============================] - 0s 3ms/step - loss: 140810144.0000 - accuracy: 0.0000e+00
Epoch 28/50
6/6 [==============================] - 0s 4ms/step - loss: 148426896.0000 - accuracy: 0.0000e+00
Epoch 29/50
6/6 [==============================] - 0s 5ms/step - loss: 169182480.0000 - accuracy: 0.0000e+00
Epoch 30/50
6/6 [==============================] - 0s 4ms/step - loss: 152518016.0000 - accuracy: 0.0000e+00
Epoch 31/50
6/6 [==============================] - 0s 3ms/step - loss: 151029696.0000 - accuracy: 0.0000e+00
Epoch 32/50
6/6 [==============================] - 0s 3ms/step - loss: 148436560.0000 - accuracy: 0.0000e+00
Epoch 33/50
6/6 [==============================] - 0s 3ms/step - loss: 144825056.0000 - accuracy: 0.0000e+00
Epoch 34/50
6/6 [==============================] - 0s 3ms/step - loss: 144327568.0000 - accuracy: 0.0000e+00
Epoch 35/50
6/6 [==============================] - 0s 3ms/step - loss: 153581408.0000 - accuracy: 0.0000e+00
Epoch 36/50
6/6 [==============================] - 0s 3ms/step - loss: 186681504.0000 - accuracy: 0.0000e+00
Epoch 37/50
6/6 [==============================] - 0s 3ms/step - loss: 171954464.0000 - accuracy: 0.0000e+00
Epoch 38/50
6/6 [==============================] - 0s 4ms/step - loss: 159750112.0000 - accuracy: 0.0000e+00
Epoch 39/50
6/6 [==============================] - 0s 4ms/step - loss: 156750144.0000 - accuracy: 0.0000e+00
Epoch 40/50
6/6 [==============================] - 0s 3ms/step - loss: 139661696.0000 - accuracy: 0.0000e+00
Epoch 41/50
6/6 [==============================] - 0s 3ms/step - loss: 140323760.0000 - accuracy: 0.0000e+00
Epoch 42/50
6/6 [==============================] - 0s 4ms/step - loss: 140059504.0000 - accuracy: 0.0000e+00
Epoch 43/50
6/6 [==============================] - 0s 4ms/step - loss: 184683968.0000 - accuracy: 0.0000e+00
Epoch 44/50
6/6 [==============================] - 0s 4ms/step - loss: 155606080.0000 - accuracy: 0.0000e+00
Epoch 45/50
6/6 [==============================] - 0s 3ms/step - loss: 138751632.0000 - accuracy: 0.0000e+00
Epoch 46/50
6/6 [==============================] - 0s 4ms/step - loss: 159093312.0000 - accuracy: 0.0000e+00
Epoch 47/50
6/6 [==============================] - 0s 4ms/step - loss: 145566496.0000 - accuracy: 0.0000e+00
Epoch 48/50
6/6 [==============================] - 0s 4ms/step - loss: 133565000.0000 - accuracy: 0.0000e+00
Epoch 49/50
6/6 [==============================] - 0s 4ms/step - loss: 133062176.0000 - accuracy: 0.0000e+00
Epoch 50/50
6/6 [==============================] - 0s 4ms/step - loss: 127389256.0000 - accuracy: 0.0000e+00

In [159]:
# Predicting Test data

y_pred = model.predict(features_test)

In [160]:
# Evaluate with Testing data 

MSE = mean_squared_error(y_pred, output_test)
RMSE = mean_squared_error(y_pred, output_test, squared=False)
MAE = mean_absolute_error(y_pred, output_test)
MAPE = mean_absolute_percentage_error(y_pred, output_test)
print(f'MAE: {round(MAE,2)}')
print(f'MSE: {round(MSE,2)}')
print(f'RMSE: {round(RMSE,2)}')
print(f'MAPE: {round(MAPE*100,2)}%')

MAE: 12578.43
MSE: 229492324.26
RMSE: 15149.0
MAPE: 14.05%