# DataTypes

In [ ]:
# Create a variable named x and assign any integer value to it
x = 16 # Put any integer here

# Add 1 to x and print the x value
x=x+1
print(x)

# Subtract 1 from x and print the x value
print(f'x is {x-1}')
# Print the type of x
print(type(x))

17
x is 16
<class 'int'>

# Strings

In [ ]:
x = 'hello'    
y = "world"    

#Concatenate hello world together in 1 string
newString = x+" "+y
print(newString)

# Replace the word hello with hi
newString2 = newString.replace("hello",'hi')
print(newString2)
# Capitalize the first letter in hello
newString3=x.capitalize()
print(newString3)

# Capitalize all the letters to uppercase
newString4 = newString.upper()

print(f'{newString4}')

hello world
hi world
Hello
HELLO WORLD

# Lists

In [ ]:
# Create a list of numbers from 0 to 4
list = [0,1,2,3,4]
print(list)

# Print the first element of the list 
print(list[0])

# Print the 1st and 2nd element of the list
print(f'first 2 elements {list[0]} {list[1]}')

# Print the last element of the list
print(list[-1])

# Print the last 2 elements of the list
print(f' last 2 elememts {list[-1]} {list[-2]}')

# Print from the 2nd element to the end of the list
for index,v in enumerate(list) :
    if(index>0): print(v)

[0, 1, 2, 3, 4]
0
first 2 elements 0 1
4
 last 2 elememts 4 3
1
2
3
4

# If conditions

In [ ]:
x= 10

# Write If condition that prints "OK" if the value of x is more than 15 and prints "NO" if the value of x is less than 15
if x>15 :
  print("OK")
elif x<=15:
  print("NO")

OK

In [ ]:
x = 5
y = 10

# Write If condition that checks if y is greater than or less than x, if y is less than x then it prints "Yes" else prints "No"
if  y<x :
  print("YES")
else:
  print("NO")

NO

# For loop

In [ ]:
x = [1,2,3,4,5]

# Write a for loop that takes each element from list x and multiplies by 5 and prints it
for i in x:
  print(i*5)

# Write a for loop that prints the elements from list x and breaks when it finds the value 3
for i in x:
  if(i==3): break
  print(i)

5
10
15
20
25
1
2

In [ ]:
animals = ['cat', 'dog', 'monkey']

# Print the index and value of the list animals using for loop     HINT use : enumerate
for index,value in enumerate(animals):
  print(f'index : {index} & value : {value}')

index : 0 & value : cat
index : 1 & value : dog
index : 2 & value : monkey