# Zip

In [2]:
list1 = ['E1', 'E2', 'E3']
list2 = ['V1', 'V2', 'V3']

# Use zip function to make pairs from the 2 lists above and cast them into list and print
zippedList = list(zip(list1 , list2))
print(zippedList)

[('E1', 'V1'), ('E2', 'V2'), ('E3', 'V3')]

In [ ]:
list1 = ['E1', 'E2', 'E3']
list2 = ['V1', 'V2', 'V3']

# Use zip function in a for loop to print the elements inside the 2 lists 
for x in zippedList :
  print(x)

('E1', 'V1')
('E2', 'V2')
('E3', 'V3')

In [ ]:
list1 = ['E1', 'E2', 'E3']
list2 = ['V1', 'V2', 'V3']
zippedList = zip(list1 , list2)

# Use enumerate with zip function in a for loop to print the elements inside the 2 lists and also their index
for index,x in enumerate(zippedList) :
    print(f'index: {index} x: {x}')

index: 0 x: ('E1', 'V1')
index: 1 x: ('E2', 'V2')
index: 2 x: ('E3', 'V3')

# While loop

In [ ]:
list1 = [10, 20, 30, 40, 50, 60]

# Create a while loop to print the elements of the list
i =0
while i<len(list1):
    print(list1[i])
    i=i+1

10
20
30
40
50
60

In [ ]:
list1 = [0, 1, 2, 3, 4]

# Create a new list that has the elements of list1 but with addition of 10 for example 0+10, 1+10, 2+10 etc..  
#HINT: using a for loop and append or use list comprehension method
list2 = [i+10 for i in list1]
print(list2)

[10, 11, 12, 13, 14]

In [ ]:
list1 = [10, 1, 21, 13, 4]

# Reverse list1 without sorting and print the list
list1.reverse()
print(list1)
# Sort list1 ascendingly and print the list
list1.sort()
print(list1)

# Sort list1 descendingly and print the list
list1.sort(reverse=True)

print(list1)

# insert any number at the 5th index of the list and print the list
list1.insert(5,7)
print(list1)
# Remove the inserted number using pop and its index and print the list
list1.pop() 
#or
#del list1[5]
print(list1)

list2 = ["H", "E", "L", "L", "O"]

# Extend list1 with list2
list1.extend(list2)
print(list1)

[4, 13, 21, 1, 10]
[1, 4, 10, 13, 21]
[21, 13, 10, 4, 1]
[21, 13, 10, 4, 1, 7]
[21, 13, 10, 4, 1]
[21, 13, 10, 4, 1, 'H', 'E', 'L', 'L', 'O']

# Dictionary

In [ ]:
D = {"1st": 100, "2nd":90}

# Add 3rd key in the dictionary and fill the value with 80
D["3rd"] = 80
print(D)

{'1st': 100, '2nd': 90, '3rd': 80}

In [ ]:
# Create a for loop that shows the keys of the dictionary in the above cell
for x in D.keys() :
   print(x)

# Create a for loop that shows the values of the dictionary in the above cell
for x in D.values() :
   print(x)

# Create a for loop that shows both the keys and values of the dictionary in the above cell
for x in D.keys() :
   print(f'keys : {x}  value : {D[x]}')

# Create a for loop that shows the index and the keys and values of the dictionary in the above cell
for index,x in enumerate(D) :
   print(f'index : {index} keys : {x}  value : {D[x]}')

1st
2nd
3rd
100
90
80
keys : 1st  value : 100
keys : 2nd  value : 90
keys : 3rd  value : 80
index : 0 keys : 1st  value : 100
index : 1 keys : 2nd  value : 90
index : 2 keys : 3rd  value : 80

In [ ]:
list1 = [0, 1, 2, 3, 4]

# Use dictionary comprehension to create a dictionary from list1 which has keys as the elements and the values as the old values + 10
newMap = {key: key+10 for key in list1}
print(newMap)

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14}

# Sets

In [ ]:
# Create a set of 5 numbers
newSet = {1 ,2 , 3 , 4 ,5}

# Add an element to the set
newSet.add(7)

# Remove an element from the set
newSet .remove(1)


print(newSet)

{2, 3, 4, 5, 7}

In [1]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

# Print the intersection between the 2 sets above
print(a.intersection(b))

{3, 4, 5}